@import "~bootstrap/scss/bootstrap";

$dark:#16191B;
$white:#FFFFFF;
$lightBlue:#5F9EE6;

*{
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0;
  background-color: $dark;
}
a:link,
a:visited {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur de texte parente */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.category{
  min-width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis; 
  p{
    width: 75px;
    word-wrap: break-word;
  }
}

.category:hover{
    background-color: $primary; 
    & p{
        color: white;
    }
}

.icon-product{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  &:hover{
    background-color: $primary;
    color: white;
    transition: background-color 0.5s ease-in-out;
  }
}

.edit-product{
  cursor: pointer;
}

.edit-product:hover{
    color: var(--bs-blue);
}

.carts{
  min-width: 300px;
}
.span-text {
  display: inline-block;
  width: 250px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.btn-select-product{
  width: 150px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
.options{
  border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;  
}
@media (min-width:576px) {
  .carts{
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
@media (max-width: 455px) {
  .span-text {
    width: 300px;
  }
}
@media(max-width: 575px) and (min-width: 456px){
.span-text{
  width: 400px;
}
}
@media(max-width: 600px) and (min-width: 576px){
  .payment-container{
    flex-direction: column !important;
  }
  }

.calculator-case{
width: 75px;
height: 75px;
display: flex;
align-items: center;
justify-content: center;
}

.payment-case{
  width: 150px;
  padding: 10px;
  margin: 10px;
}

.fa-credit-card{
  color: $primary;
}
.fa-money-bill{
  color: $green;
}

.fa-money-check{
  color:  $secondary ;
}

.fa-ticket{
  color: $orange;
}

.calculator-case{
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.bg-light-blue{
  background-color: $lightBlue;
}
.light-blue{
  color:$lightBlue;
}

.bg-dark{
  background-color: $dark;
  color: white;
}

.comma{
  width: 15%;
}

.custom-tabs .nav-link {
  background-color: $secondary; /* Couleur de fond personnalisée */
  color: white;
  border: 1px solid white; /* Couleur du texte personnalisée */
}

.custom-tabs .nav-link.active {
  background-color: $primary; /* Couleur de fond personnalisée pour l'onglet actif */
  color: $white; /* Couleur du texte personnalisée pour l'onglet actif */
}

.nav-selected{
  text-decoration: underline $primary;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}
.navbar{
  white-space: nowrap;
}