@import "../../node_modules/bootstrap/scss/bootstrap.scss";
*{
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur de texte parente */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.category{
  min-width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis; 
  p{
    width: 75px;
    word-wrap: break-word;
  }
}

.category:hover{
    background-color: $primary; 
    & p{
        color: white;
    }
}

.icon-product{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  text-overflow: ellipsis;
  &:hover{
    background-color: $primary;
    color: white;
    transition: background-color 0.5s ease-in-out;
  }
}

.edit-product{
  cursor: pointer;
}

.edit-product:hover{
    color: var(--bs-blue);
}

.container-category{
  width: 60%;
}
@media (max-width: 576px) {
  // Add your styles specific to smaller devices here
  .container-category{
    width: 40%;
  }
  .span-text {
    display: inline-block;
    width: 160px;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Affiche une ellipse (...) pour indiquer le texte coupé */
  }
}